body{
    margin: 0;
    padding: 0;
    background-color: beige;
     background: linear-gradient(to bottom right, beige, whitesmoke);
    height: 100vh;
}

@font-face {
    font-family:boulder ;
    src: url("../fonts/Boulder-Bold.ttf");
}

@font-face {
    font-family:league ;
    src: url("../fonts/LeagueSpartan-Bold.otf");
}

@font-face {
    font-family: trail;
    src: url("../fonts/Questrial-Regular.ttf");
}

.navbar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.3%;
}

.navbar img{
    width: 3%;
}

.navbar a{
    text-decoration: none;
    font-family: trail;
    color: black;
    padding: 10px;
    background-color:none;
    transition: background-color 1s ease-in-out , color 1s ease-in-out ;
}

.navbar a:hover{
   background-color: #013335;
   color: aliceblue;
}

.navbar button{
    border: none;
    font-family: trail;
    padding: 10px;
    background-color: #013335;
    color: gold;
}

.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.body h1{
    font-family: boulder;
}

.body label{
    font-family: trail;
}

.body input{
    font-family: trail;
    width: 20%;
    height: 4vh;
}

.body button{
    padding: 10px;
    font-family: boulder;
    background-color: #013335;
    color: gold;
    border: none;
}

.showMembers{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.showMembers h1{
    font-family: league;
}

.showMembers th{
    font-family: league;
    background-color: #013335;
    color: gold;
}

.showMembers tr{
    font-family: trail;
    text-align: center;
}

.showMembers a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #013335;
}